In [ ]:
class Employee ():
  def __init__ (self, name, salary):
    self.__name = name
    self.__salary = int(salary)

  def getter (self):
    return self.__name

  def setter (self):
    if self.getter ():
      print(f"The current salary of {self.getter()} is {self.__salary}")
      new_sal = int(input(f"\nEnter new salary for {self.getter()}: "))
      self.__salary = new_sal
      print (f"\nThe new ssalary of {self.getter()} is {self.__salary}")

  def show_details (self):
    print(f"Name: {self.__name}")
    print(f"\nSalary: {self.__salary}")

In [ ]:
emp = Employee("John", 50000)

In [ ]:
emp1 = Employee("Jane", 60000)

In [ ]:
emp.getter()

'John'

In [ ]:
emp.setter()

The current salary of John is 50000

Enter new salary for John: 51000

The new ssalary of John is 51000

In [ ]:
emp.show_details()

Name: John

Salary: 51000

In [ ]:
emp1.getter()

'Jane'

In [ ]:
emp1.setter()

The current salary of Jane is 60000

Enter new salary for Jane: 62000

The new ssalary of Jane is 62000

In [ ]:
emp1.show_details()

Name: Jane

Salary: 62000